* {
    tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -moz-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -ms-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -o-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -moz-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -moz-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -moz-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -ms-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -ms-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -ms-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -o-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -o-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -o-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: white;
    text-align: center;
    overflow: hidden;
}

h1, h2, h3 {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 12px;
}

h1 {
    font-size: 38px;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.8);
}

.question h1 {
    text-shadow: none;
}

h1 span {
    display: inline-block;
    width: 100%;
}

h1 span:nth-child(1) { font-size: 26px; line-height: 1; text-transform: none; }
h1 span:nth-child(2) { font-size: 52px; line-height: 1; font-weight: normal; margin-top: 7px; }
h1 span:nth-child(2) span { text-transform: none; margin: 0 12px; font-weight: 100; }
h1 span:nth-child(3) { font-size: 26px; line-height: 1; text-transform: none; }
h1 span span { font-weight: normal; width: auto;}


h2 {
    margin: 0;
    line-height: 1;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.8);
    transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
    font-size: 35px;
    position: relative;
    width: 100%;
    top:45%;
    font-weight: normal;
}

h3 {
    margin: 0;
}

.button {
    width: 80%;
    padding: 14px 0;
    margin: 14px 10%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(40,40,90,0.95);
    cursor: pointer;
    border-radius: 4px;
    transition: 250ms;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite; 
    -moz-transition: 250ms;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite; 
    -ms-transition: 250ms;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite; 
    -o-transition: 250ms;
    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite; 
    -webkit-transition: 250ms;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
}


@keyframes pulsate {
    0% { background-color: rgba(40,40,90,0.7);}
    50% { background-color: rgba(40,40,90,0.95); }
    100% { background-color: rgba(40,40,90,0.7); }
}

@-ms-keyframes pulsate {
    0% { background-color: rgba(40,40,90,0.7);}
    50% { background-color: rgba(40,40,90,0.95); }
    100% { background-color: rgba(40,40,90,0.7); }
}


@-o-keyframes pulsate {
    0% { background-color: rgba(40,40,90,0.7);}
    50% { background-color: rgba(40,40,90,0.95); }
    100% { background-color: rgba(40,40,90,0.7); }
}

@-webkit-keyframes pulsate {
    0% { background-color: rgba(40,40,90,0.7);}
    50% { background-color: rgba(40,40,90,0.95); }
    100% { background-color: rgba(40,40,90,0.7); }
}

.button:hover {
    background-color: rgba(40,40,90,0.95);
    animation:none;
    -ms-animation:none;
    -o-animation:none;
    -moz-animation:none;
    -webkit-animation:none;
}

#highscore {
    font-size: 16px;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.8);
}

/* ------------------------------------------------- Pages */

#app-wrap {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/vignette.png), url(../img/background.jpg);
    background-size: 100% 100%, 760px 760px;
    background-position: center center, center center;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
    transition: 250ms;
    transform: translate3d(0,0,0);
    -moz-transition: 250ms;
    -moz-transform: translate3d(0,0,0);
    -ms-transition: 250ms;
    -ms-transform: translate3d(0,0,0);
    -o-transition: 250ms;
    -o-transform: translate3d(0,0,0);
    -webkit-transition: 250ms;
    -webkit-transform: translate3d(0,0,0);
}

body.intro  #game   {  
    transform: translate3d( 100%,0,0);
    -moz-transform: translate3d( 100%,0,0);
    -ms-transform: translate3d( 100%,0,0);
    -o-transform: translate3d( 100%,0,0);
    -webkit-transform: translate3d( 100%,0,0);  
}

body.intro  #result {  
    transform: translate3d( 100%,0,0);
    -moz-transform: translate3d( 100%,0,0);
    -ms-transform: translate3d( 100%,0,0);
    -o-transform: translate3d( 100%,0,0);
    -webkit-transform: translate3d( 100%,0,0);  
}
body.game   #intro  {  
    transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
body.game   #result {  
    transform: translate3d( 100%,0,0);
    -moz-transform: translate3d( 100%,0,0);
    -ms-transform: translate3d( 100%,0,0);
    -o-transform: translate3d( 100%,0,0);
    -webkit-transform: translate3d( 100%,0,0);
}
body.result #intro  {  
    transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
body.result #game   {  
    transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}

.page-content {
    position: absolute;
    height: 300px;
    margin-top: -150px;
    top: 50%;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

/* ------------------------------------------------- Game */

.question {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 250ms;
    transform: translate3d(0,0,0);
    -moz-transition: 250ms;
    -moz-transform: translate3d(0,0,0);
    -ms-transition: 250ms;
    -ms-transform: translate3d(0,0,0);
    -o-transition: 250ms;
    -o-transform: translate3d(0,0,0);
    -webkit-transition: 250ms;
    -webkit-transform: translate3d(0,0,0);

}

.question.left {
    transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}

.question.right {
    transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}

.question .button {
    background-color: rgba(255,255,255,0.9);
    animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    color: black;
}

.question .button:hover {
    background-color: rgba(255,255,255,1);
}

.answer-image {
    width: 100%;
    height: 50%;
    background-position: center center;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -o-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 500ms;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    -moz-transition: 500ms;
    -moz-transform: translate3d(0,0,0);
    -moz-backface-visibility: hidden;
    -ms-transition: 500ms;
    -ms-transform: translate3d(0,0,0);
    -ms-backface-visibility: hidden;
    -o-transition: 500ms;
    -o-transform: translate3d(0,0,0);
    -o-backface-visibility: hidden;
    -webkit-transition: 500ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.question.correct .answer-image, .question.wrong .answer-image {
    /*-webkit-filter: blur(2px);*/
}

@media screen and (min-aspect-ratio: 1/1) {
    .answer-image {
        width: 50%;
        height: 100%;
        float: left;
        background-size: 700px 700px;
    }
}

@media screen and (min-height: 500px) {
    .answer-image {  background-size: 700px 700px;  }
}

@media screen and (min-height: 700px) {
    .answer-image {  background-size: 900px 900px;  }
}

@media screen and (min-width: 700px) {
    .answer-image {  background-size: 900px 900px;  }
}

@media screen and (min-width: 900px) {
    .answer-image {  background-size: 1100px 1100px;  }
}

@media screen and (min-width: 1100px) {
    .answer-image {  background-size: cover;  }
}

.answer-image.disabled {
    pointer-events: none;
}

.question.correct h2, .question.wrong h2 {
    opacity: 0;
}

.question-result {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    transition: 200ms;
    transform: translate3d(0,0,0);
    -moz-transition: 200ms;
    -moz-transform: translate3d(0,0,0);
    -ms-transition: 200ms;
    -ms-transform: translate3d(0,0,0);
    -o-transition: 200ms;
    -o-transform: translate3d(0,0,0);
    -webkit-transition: 200ms;
    -webkit-transform: translate3d(0,0,0);
    pointer-events: none;
}

.question-result .page-content {
    background-size: 200px 200px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 175px;
    height: 280px;
    margin-top: -220px;
    transition: 200ms;
    transform: scale(0.9);
    -moz-transition: 200ms;
    -moz-transform: scale(0.9);
    -ms-transition: 200ms;
    -ms-transform: scale(0.9);
    -o-transition: 200ms;
    -o-transform: scale(0.9);
    -webkit-transition: 200ms;
    -webkit-transform: scale(0.9);
}

.question.correct .question-result.correct .page-content, .question.wrong .question-result.wrong .page-content {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
}

.question-result.correct .page-content {
    background-image: url(../img/correct.png);
}

.question-result.wrong .page-content {
    background-image: url(../img/wrong.png);
}

.question.correct .question-result.correct {
    opacity: 1;
    background-color: rgba(50,200,50,0.75);
    pointer-events: auto;
}

.question.wrong .question-result.wrong {
    opacity: 1;
    background-color: rgba(200,50,50,0.75);
    pointer-events: auto;
}

#game-score {
    position: absolute;
    z-index: 100;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 200px;
    box-sizing: border-box;
    -o-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 175px;
    border-radius: 100px;
    background-color: rgba(40,40,90,0.8);
    transition: 100ms;
    transform: translate3d(0,-200px,0);
    -moz-transition: 100ms;
    -moz-transform: translate3d(0,-200px,0);
    -ms-transition: 100ms;
    -ms-transform: translate3d(0,-200px,0);
    -o-transition: 100ms;
    -o-transform: translate3d(0,-200px,0);
    -webkit-transition: 100ms;
    -webkit-transform: translate3d(0,-200px,0);
}

#game-score.show {
    transform: translate3d(0,-166px,0);
    -moz-transform: translate3d(0,-166px,0);
    -ms-transform: translate3d(0,-166px,0);
    -o-transform: translate3d(0,-166px,0);
    -webkit-transform: translate3d(0,-166px,0);
}

.ios7 #game-score.show {
    transform: translate3d(0,-156px,0);
    -moz-transform: translate3d(0,-156px,0);
    -ms-transform: translate3d(0,-156px,0);
    -o-transform: translate3d(0,-156px,0);
    -webkit-transform: translate3d(0,-156px,0);
}

.button > span {
    display: none;
}

.button.loading .loading {
    display: block;
    background: url(../img/loading.gif) no-repeat 77%;
    background-size: 20px;
}

.button.ok .ok {
    display: block;
}

.button.fail .fail {
    display: block;
}
